.DS_Store
*.apk
saved-tokens/
.upstream-sync-sha
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/app/capacitor.build.gradle
android/app/src/main/assets/
android/app/src/main/res/xml/config.xml
